* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.rangeContainer {
  margin: 10px;
  width: 200px;
}

.rangeLabel {
  display: block;
}

.rangeSlider {
  width: 70%;
}

.rangeNumber {
  width: 20%;
  margin-left: 10px;
}

.colorContainer {
  margin: 10px;
  width: 200px;
}

.colorLabel {
  display: block;
}

.colorPicker {
  width: 30%;
}

.colorText {
  width: 60%;
  margin-left: 10px;
}
